.myButton {
	box-shadow: 3px 10px 14px -7px #333333;
	background:linear-gradient(to bottom, #ffcc20 5%, #ffcc40 100%);
	background-color:#ffcc33;
	border-radius:12px;
    border:1px solid #333333;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:20px;
	font-weight:bold;
	padding:2px 5px;
	text-decoration:none;
	text-shadow:2px 2px 5px #333333;
}
.myButton:hover {
	background:linear-gradient(to bottom, #303030 5%, #383838 100%);
	background-color:#333333;
}
.myButton:active {
	position:relative;
	top:1px;
}

        