<!DOCTYPE html>
<html>
  <head>
    <title>Robot Cameraman</title>
    <!--<meta http-equiv="refresh" content="30" >-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdowns.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slidepanel.css') }}">
    <style type="text/css">
      .container {
        max-width: 600px;
        padding-top: 50px;
        
        }
    </style>
  </head>
  <body>
    <div class="container" id=status>
      <p id=status-text>Status: {{status_text}}</p>
      <input type = "button" class="waypointtoggle" id = "waypoint-view" value="Waypoints"/>
    </div>
    <div class="container" id=savepoints>
      <p>Savepoints:</p>
      <ul>
        {% for n in savepoints %}
        <li> <input type = "button" id = "save_savepoint_{{loop.index0}}" value = "Save" onclick='save_savepoint({{loop.index0}})'/>{{savepoints[n]}}<input type = "button" id = "move_to_savepoint_{{loop.index0}}" value = "Move" onclick='move_to_savepoint({{loop.index0}})'/></li>
        {% endfor %}
      </ul>
      
    </div>
    
    
          
    </div>
    <div class=container id=toggles>
      <form class="form-inline">
        <!-- Rounded switch -->
        <label class="label-block" for="moveby">Move by</label>
        <label class="switch" id="moveby">
          <input id="moveby_switch" type="checkbox" onclick='toggle_flip(this);' onchange="showHideForm(this,'feed-selector', 'time-selector')" {{ move_toggle }}>
          
          <div class="slider round">
            <!--ADDED HTML -->
            <span class="on">TIME</span>
            <span class="off">FEED</span>
            
            <!--END-->
          </div>
          
        </label>
        <div id=dropdowns>
          <div id="feed-selector" {% if move_toggle%}style="display: none;"{% endif %}>
            <label for="feed-select">Rate</label>
            <select id="feed-select" onchange="drop_down_select(this.id)">
              {% for n in feed_rate_values %}
                <option value="{{ n }}" {% if n == feed_rate %}selected{% endif %}>{{ n }}</option>
              {% endfor %}
            </select>
            <span class="focus"></span>
          </div>
          <div id="time-selector" {% if not move_toggle%}style="display: none;"{% endif %}>
            <label for="time-select">Seconds</label>
            <select id="time-select" onchange="drop_down_select(this.id)">
              {% for n in move_time_values %}
                <option value="{{ n }}" {% if n == move_time %}selected{% endif %}>{{ n }}</option>
              {% endfor %}
            </select>
            <span class="focus"></span>
          </div>
        </div>
      </form> 
      <form class="form-inline">
      <label class="label-block" for="tracking">Tracking</label>
      <label class="switch" id="tracking">
        <input id="tracking_switch" type="checkbox" onclick='toggle_flip(this);' {{ tracking_toggle }}>
        
         <div class="slider round">
          <!--ADDED HTML -->
          <span class="on">ON</span>
          <span class="off">OFF</span>
          <!--END-->
         </div>
      </label>
      <div id="tracking-selector" >
        <label for="tracking-select">Mode</label>
        <select id="tracking-select" onchange="drop_down_select(this.id)">
          {% for n in tracking_modes %}
            <option value="{{ n }}" {% if n == tracking_mode %}selected{% endif %}>{{ n }}</option>
          {% endfor %}
        </select>
        <span class="focus"></span>
      </div>
      <div>
        <a href="/tracker_glyph">Show Glyph</a>
      </div>
      </form>
    </div>
    <div class="waypointpane">
      <h2>Waypoints</h2>
      <select class="waypoint_selector" id=waypoint-list name="waypoints" size=" {{ waypoints|length }} ">  
        {% for w in waypoints %}
        <option value="{{ w }}" {% if loop.index0 == 0 %}selected{% endif %}> {{ w }} </option>  
        {% endfor %} 
        
      </select>  
      <label for="time-select">Waypoint Dwell</label>
      <select id="dwell-time">
        {% for n in dwell_time_values %}
          <option value="{{ n }}" {% if n == dwell_time %}selected{% endif %}>{{ n }}</option>
        {% endfor %}
      </select>
      <input type = "button" id = "add-waypoint" value = "Save" onclick='add_waypoint()'/>
      <input type = "button" class="waypointtoggle" id = "waypoint-view-close" value="Close"/>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type=text/javascript> 
        const button = document.querySelector('.waypointtoggle');
        const close_button = document.querySelector('#waypoint-view-close');
        const pane = document.querySelector('.waypointpane');

        button.addEventListener('click', () => {
          pane.classList.toggle('open');
        });
        close_button.addEventListener('click', () => {
          pane.classList.toggle('open');
        });
        (async function polling(){
            
            const response = await fetch('/refresh/status', {
                method: 'post',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({"refresh": "status"})
            });
            response.json().then(data =>{
              console.log(data); // JSON data parsed by `data.json()` call
              update_status(data);
            });
            
            
                                  
            // periodically refresh
            setTimeout(polling, 30000);
        })();
        async function update_status(status){
            var element = document.getElementById("status-text");  
            
            state = status.status;
            update_time = status.last_update;
            position = status.position;
            pos_values = position.split(',')
            pos_string="";
            pos_values.forEach(pos => {
              pos_string=pos_string+pos+" : "
            })
            element.innerHTML = "Status:<b>"+state + "</b> Updated:<b>"+update_time+"</b></br>Position:"+pos_string;
        }
        async function update_waypoints(wp){
             var element = document.getElementById("waypoint-list"); 
             element.options.length = 0;
             console.log(wp)
             wp.forEach(child => {
                console.log(child);
                var opt = document.createElement('option');
                opt.value = child;
                opt.innerHTML = JSON.stringify(child);
                element.appendChild(opt)
               });
        }
        async function save_savepoint(id) { 
            const response = fetch('/save_savepoint', {
                method: 'post',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "savepoint_id": id
                })
            });
            console.log('Completed!', response);
        }; 
        async function add_waypoint(){
            var value = document.getElementById("dwell-time").value;
            response = post_command('/add_waypoint',JSON.stringify({"waypoint": "add","dwell_time":value}));
            response.then(data =>{
              console.log(data); // JSON data parsed by `data.json()` call
              update_waypoints(data);
            });
            
        }
        async function move_to_savepoint(id) { 
            const response = fetch('/move_to_savepoint', {
                method: 'post',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "savepoint_id": id
                })
            });
            console.log('Completed!', response);
        };
        
        async function showHideForm(box, id,id_2) {
            var elm = document.getElementById(id);
            var secondelem = document.getElementById(id_2);
            if(box.checked){
                elm.style.display = "none";
                secondelem.style.display ="";
            } else {
                elm.style.display = "";
                secondelem.style.display ="none";
            }
        }
        async function toggle_flip(cb){
          console.log(cb)
            var idAttr = $(cb).prop('id');
            console.log(idAttr +" toggled  "+cb.checked)
            
            post_command('/toggle/'+idAttr, '{"state": '+cb.checked+'}')
            
        }
        async function drop_down_select(elem_id){
          var value = document.getElementById(elem_id).value;
          if (isNaN(value)){
            payload = '{"'+elem_id+'":"'+value+'"}'
          }else{
            payload = '{"'+elem_id+'":'+value+'}'
          }
          post_command('/update/'+elem_id, payload);
        }
        async function post_command(url,payload){
          const response = await fetch(url, {
                method: 'post',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: payload
          });
          return response.json()
        }
        </script> 
</body>
</html>
