<!DOCTYPE html>
<html>
  <head>
    <title>Robot Cameraman</title>
    <!--<meta http-equiv="refresh" content="30" >-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdowns.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slidepanel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/value_sliders.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/locks.css') }}">
    <style type="text/css">
      .container {
        max-width: 600px;
        padding-top: 50px;
        
        }
    </style>
  </head>
  <body>
    <div class="container" id=status>
      <input type = "button" class="timelapsetoggle" id = "timelapse-view" value="Timelapse"/>
      <p id=status-text>Status: {{status_text}}</p>
      <input type = "button" class="limitstoggle" id = "limits-view" value="Axis Limits"/>
      <input type = "button" class="waypointtoggle" id = "waypoint-view" value="Waypoints"/>
    </div>
    <div class="container" id=savepoints>
      <p>Savepoints:</p>
      
        <table>
        {% for n in savepoints %}
        <tr><td> <input type = "button" class="myButton" id = "save_savepoint_{{loop.index0}}" value = "Save" onclick='save_savepoint({{loop.index0}})'/></td><td>{{savepoints[n]}}</td><td><input type = "button" class="myButton" id = "move_to_savepoint_{{loop.index0}}" value = "Move" onclick='move_to_savepoint({{loop.index0}})'/></td></tr>
        {% endfor %}
        </table>
      
      
    </div>
    
    
          
    </div>
    <div class=container id=toggles>
      <form class="form-inline">
        <!-- Rounded switch -->
        <label class="label-block" for="moveby">Move by</label>
        <label class="switch" id="moveby">
          <input id="moveby_switch" type="checkbox" onclick='toggle_flip(this);' onchange="showHideForm(this,'feed-selector', 'time-selector')" {{ move_toggle }}>
          
          <div class="slider round">
            <!--ADDED HTML -->
            <span class="on">TIME</span>
            <span class="off">FEED</span>
            
            <!--END-->
          </div>
          
        </label>
        <div id=dropdowns>
          <div id="feed-selector" {% if move_toggle%}style="display: none;"{% endif %}>
            <label for="feed-select">Rate</label>
            <select id="feed-select" onchange="drop_down_select(this.id)">
              {% for n in feed_rate_values %}
                <option value="{{ n }}" {% if n == feed_rate %}selected{% endif %}>{{ n }}</option>
              {% endfor %}
            </select>
            <span class="focus"></span>
          </div>
          <div id="time-selector" {% if not move_toggle%}style="display: none;"{% endif %}>
            <label for="time-select">Seconds</label>
            <select id="time-select" onchange="drop_down_select(this.id)">
              {% for n in move_time_values %}
                <option value="{{ n }}" {% if n == move_time %}selected{% endif %}>{{ n }}</option>
              {% endfor %}
            </select>
            <span class="focus"></span>
          </div>
        </div>
      </form> 
      <form class="form-inline">
      <label class="label-block" for="tracking">Tracking</label>
      <label class="switch" id="tracking">
        <input id="tracking_switch" type="checkbox" onclick='toggle_flip(this);' {{ tracking_toggle }}>
        
         <div class="slider round">
          <!--ADDED HTML -->
          <span class="on">ON</span>
          <span class="off">OFF</span>
          <!--END-->
         </div>
      </label>
      <div id="tracking-selector" >
        <label for="tracking-select">Mode</label>
        <select id="tracking-select" onchange="drop_down_select(this.id)">
          {% for n in tracking_modes %}
            <option value="{{ n }}" {% if n == tracking_mode %}selected{% endif %}>{{ n }}</option>
          {% endfor %}
        </select>
        <span class="focus"></span>
      </div>
      <div>
        <a href="/tracker_glyph">Show Glyph</a>
      </div>
      </form>
    </div>
    <div class="waypointpane">
      <h2>Waypoints</h2>
      <select class="waypoint_selector" id=waypoint-list name="waypoints" size=" {{ waypoints|length }} ">  
        {% for w in waypoints %}
        <option value="{{ w }}" {% if loop.index0 == 0 %}selected{% endif %}> {{ w }} </option>  
        {% endfor %} 
        
      </select>  
      <label for="time-select">Waypoint Dwell</label>
      <select id="dwell-time">
        {% for n in dwell_time_values %}
          <option value="{{ n }}" {% if n == dwell_time %}selected{% endif %}>{{ n }}</option>
        {% endfor %}
      </select>
      <input type = "button" id = "add-waypoint" value = "Save" onclick='add_waypoint()'/>
      <input type = "button" class="waypointtoggle" id = "waypoint-view-close" value="Close"/>
    </div>
    <div class="timelapsepane">
      <h2>Timelapse</h2>
      <div class="slidecontainer">
        <div><p style="margin: 20px 5px 30px;">Seconds</p></div>
        <div class="range-slider" style='--min:0; --max:300; --step:1; --value:60; --text-value:"60";'>
          
          <input type="range" id="tl-duration" min="0" max="300" step="1" value="60" oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify(this.value))">
          <output></output>
          <div class='range-slider__progress'></div>
        </div>
      <div><p style="margin: 20px 5px 30px;">Minimum time between steps</p></div>
        <div class="range-slider" style='--min:1; --max:30; --step:1; --value:1; --text-value:"1";'>
          
          <input type="range" id="tl-steptime" min="1" max="30" step="1" value="1" oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify(this.value))">
          <output></output>
          <div class='range-slider__progress'></div>
        </div>
      </div>
    </br>
      <input type = "button" class="myButton" id = "timelapse-start" value="Go" onclick='start_timelapse()'/>
      <input type = "button" class="timelapsetoggle" id = "timelapse-view-close" value="Close"/>
    </div>
    
    <div class="limitspane">
      {% for controller in limits %}
      <p>{{ controller }} limits</p>
        <form class="form-inline">
        {% for limit in limits[controller] %}
          
          <label class="lock-toggle" id="{{ controller }}_{{ limit }}">
            <input id="{{ controller }}_{{ limit }}" type="checkbox" onclick='toggle_flip(this);' onchange="showHideForm(this,'feed-selector', 'time-selector')"  {% if limits[controller][limit].state %}checked{% endif %}>
            
            
              <!--ADDED HTML 
              <span class="label-block">{{ limits[controller][limit].label }}: {{ limits[controller][limit].value }}</span>
              <span class="on">LOCKED</span>
              <span class="off">unlocked</span>-->
              
              <span>
              <em></em>
              <strong></strong>
              </span>
              <span class="limitvalue">{{ limits[controller][limit].label }}: {{ limits[controller][limit].value }}</span>
              <!--END-->
            
          
          </label>    
        
        {% endfor %}
        </form>
        {% endfor %}
        <input type = "button" class="limitstoggle" id = "limits-view-close" value="Close"/>
    </div>
    
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/robocam.js') }}"></script>
    
</body>
</html>
