<!DOCTYPE html>
<html>
  <head>
    <title>Robot Cameraman</title>
    <!--<meta http-equiv="refresh" content="30" >-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdowns.css') }}">
    <style type="text/css">
      .container {
        max-width: 600px;
        padding-top: 10px;
        
        }
    </style>
  </head>
  <body>
    <div class="container" id=status>
      <p>Status: {{status_text}}</p>
    </div>
    <div class="container" id=savepoints>
      <p>Savepoints:</p>
      <ul>
        {% for n in savepoints %}
        <li> <input type = "button" id = "save_savepoint_{{loop.index0}}" value = "Save" onclick='save_savepoint({{loop.index0}})'/>{{savepoints[n]}}<input type = "button" id = "move_to_savepoint_{{loop.index0}}" value = "Move" onclick='move_to_savepoint({{loop.index0}})'/></li>
        {% endfor %}
      </ul>
      
    </div>
    
    
          
    </div>
    <div class=container id=toggles>
      <form class="form-inline">
        <!-- Rounded switch -->
        <label class="label-block" for="moveby">Move by</label>
        <label class="switch" id="moveby">
          <input type="checkbox" onclick='handleMoveBy(this);' onchange="showHideForm(this,'feed-selector', 'time-selector')" {{ move_toggle }}>
          
          <div class="slider round">
            <!--ADDED HTML -->
            <span class="on">TIME</span>
            <span class="off">FEED</span>
            
            <!--END-->
          </div>
          
        </label>
        <div id=dropdowns>
          <div id="feed-selector" {% if move_toggle%}style="display: none;"{% endif %}>
            <label for="feed-select">Rate</label>
            <select id="feed-select" onchange="feed_select()">
              {% for n in feed_rate_values %}
                <option value="{{ n }}" {% if n == feed_rate %}selected{% endif %}>{{ n }}</option>
              {% endfor %}
            </select>
            <span class="focus"></span>
          </div>
          <div id="time-selector" {% if not move_toggle%}style="display: none;"{% endif %}>
            <label for="time-select">Seconds</label>
            <select id="time-select" onchange="time_select()">
              {% for n in move_time_values %}
                <option value="{{ n }}" {% if n == move_time %}selected{% endif %}>{{ n }}</option>
              {% endfor %}
            </select>
            <span class="focus"></span>
          </div>
        </div>
      </form> 
      <form class="form-inline">
      <label class="label-block" for="tracking">Tracking</label>
      <label class="switch" id="tracking">
        <input type="checkbox" onclick='handleTracking(this);' {{ tracking_toggle }}>
        
         <div class="slider round">
          <!--ADDED HTML -->
          <span class="on">ON</span>
          <span class="off">OFF</span>
          <!--END-->
         </div>
      </label>
      <div id="tracking-selector" >
        <label for="tracking-select">Seconds</label>
        <select id="tracking-select" onchange="track_select()">
          {% for n in tracking_modes %}
            <option value="{{ n }}" {% if n == tracking_mode %}selected{% endif %}>{{ n }}</option>
          {% endfor %}
        </select>
        <span class="focus"></span>
      </div>
      </form>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type=text/javascript> 
        function save_savepoint(id) { 
            const response = fetch('/save_savepoint', {
                method: 'post',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "savepoint_id": id
                })
            });
            console.log('Completed!', response);
        }; 
        function move_to_savepoint(id) { 
            const response = fetch('/move_to_savepoint', {
                method: 'post',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "savepoint_id": id
                })
            });
            console.log('Completed!', response);
        };
        function handleMoveBy(cb) {
           console.log("move toggled  "+cb.checked)
           const response = fetch('/toggle_moveby', {
                method: 'post',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "state": cb.checked
                })
            });
        }
        function handleTracking(cb) {
           console.log("tracking toggled  "+cb.checked)
           const response = fetch('/toggle_tracking', {
                method: 'post',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "state": cb.checked
                })
            });
        }
        function showHideForm(box, id,id_2) {
            var elm = document.getElementById(id);
            var secondelem = document.getElementById(id_2);
            if(box.checked){
                elm.style.display = "none";
                secondelem.style.display ="";
            } else {
                elm.style.display = "";
                secondelem.style.display ="none";
            }
        }
        function feed_select(){
          var value = document.getElementById("feed-select").value;
          const response = fetch('/feed_rate', {
                method: 'post',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "feed_rate":value
                })
            });
        }
        function time_select(){
          var value = document.getElementById("time-select").value;
          const response = fetch('/move_time', {
                method: 'post',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "move_time":value
                })
            });
        }
        function track_select(){
          var value = document.getElementById("track-select").value;
          const response = fetch('/tracking_mode', {
                method: 'post',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "tracking_mode":value
                })
            });
        }
        </script> 
</body>
</html>
